 .acw, ._3bg5 ._53_-, .jewel ._4l9h, .touch ._55wq {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 3px;
}
._vi6, ._6beq, ._5rgr {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
}
._333v._333v>div, ._2a_g ._337z, ._3ioy ._2a_i, ._3u3w ._2a_i, .async_composer._2a_g ._10pt:first-child+._5ru3, .touch .voice {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
._2v9s {
    background: #fff;
}
.profpic, ._508n {
    background: transparent;
    border-radius: 50%;
    border: 0px;
}