 a.c-Yi7::after {
    content:" - Go To Post";
    color: #cd486b;
    font-weight: bold;
    font-size: 12px;
}
.MFkQJ, .fP5IM, .APQi1 {
    display: none;
}
.mAUDl {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 3px;
}
._09ncq, .uzKWK, ._3dEHb {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
}
.eo2As {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}