<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.proximadev.flyso">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".activities.FlySoApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Dark"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3836303927954880~1359595585" />

        <receiver
            android:name=".notifications.Receiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".notifications.NotificationsJS"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".notifications.NotificationsJIS"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activities.StartActivity"
            android:theme="@style/Dark"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
			android:launchMode="singleTask"/>

        <activity
            android:name=".activities.SettingsActivity"
            android:launchMode="singleTask"
            android:label="@string/action_settings" />
        <activity
            android:name=".activities.VideoActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/MediaStyle" />
        <activity
            android:name=".activities.PhotoActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTask"
            android:theme="@style/MediaStyle" />
        <activity
            android:name=".activities.BrowserActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activities.ConnectionActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activities.CustomPinActivity"
            android:launchMode="singleTask" />
    </application>
</manifest>